
*[data-alpdeskfee-type],
div.alpdeskfee-article-container {
  position: relative;
  min-height: 50px;
}

.alpdeskfee-article-container:hover {
  border-right: 2px solid rgb(244, 124, 0);
}

.alpdeskfee-active {
  /* Problems fixex headers*/
  z-index: 1000;
  outline: 1px dashed rgb(244, 124, 0);
  background-color: rgba(244, 124, 0, 0.1);
}

.alpdeskfee-ce {
  position: relative;
}

div.alpdeskfee-utilscontainer,
div.alpdeskfee-utilscontainer-page {
  background-color: rgba(255, 255, 255, 1);
  width: auto;
  height: auto;
  top: 0;
  left: 50%;
  transform:translateX(-50%);
  margin-left: 0;
  text-align: center;
  position: absolute;
  display: none;
  font-family:-apple-system,system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight:400;
  font-size:.875rem;
  line-height:1;
  color:#444;
  border-bottom: 2px solid rgb(244, 124, 0);
  z-index: 1000;
}

div.alpdeskfee-utilscontainer-page {
  left: auto;
  right: 0%;
  margin-right: 40px;
  margin-left: 0px;
  display: block;
  width: 165px;
  transform:translateX(0%);
}

div.alpdeskfee-utilscontainer-custommodule {
  left: 0%;
  margin-left: 0px;
  transform:translateX(0%);
} 

.alpdeskfee-article-container div.alpdeskfee-parent-active {
  width: auto;
  left: auto;
  right:0;
  margin-left: 0px;
  z-index: 1001; 
  transform:translateX(0%);
}

.alpdeskfee-active div.alpdeskfee-utilscontainer,
.alpdeskfee-article-container div.alpdeskfee-parent-active {
  display: block;
}

.alpdeskfee-utilscontainer-desc {
  float: left;
  margin: 10px;
}

.alpdeskfee-utilscontainer-editcontainer {
  background-repeat: no-repeat;
  width: 30px;
  height: 35px;
  margin-left: 2px;
  margin-right: 2px;
  background-position: center center;
  cursor: pointer;
  float: left;
  background-size: 18px 18px;
}

.alpdeskfee-utilscontainer-edit {
  background-image: url('../../../system/themes/flexible/icons/edit.svg');
}

.alpdeskfee-utilscontainer-delete {
  background-image: url('../../../system/themes/flexible/icons/delete.svg');
}

.alpdeskfee-utilscontainer-visible {
  background-image: url('../../../system/themes/flexible/icons/visible.svg');
}

.alpdeskfee-utilscontainer-invisible {
  background-image: url('../../../system/themes/flexible/icons/invisible.svg');
}

.alpdeskfee-utilscontainer-pedit {
  background-image: url('../../../system/themes/flexible/icons/header.svg');
}

.alpdeskfee-utilscontainer-module {
  background-image: url('../../../system/themes/flexible/icons/modules.svg');
}

.alpdeskfee-utilscontainer-root {
  background-image: url('../../../system/themes/flexible/icons/root.svg');
}

.alpdeskfee-utilscontainer-rootarticle {
  background-image: url('../../../system/themes/flexible/icons/regular.svg');
}

.alpdeskfee-utilscontainer-articles {
  background-image: url('../../../system/themes/flexible/icons/articles.svg');
}

.alpdeskfee-utilscontainer-new {
  background-image: url('../../../system/themes/flexible/icons/new.svg');
}

.alpdeskfee-utilscontainer-copy {
  background-image: url('../../../system/themes/flexible/icons/copy.svg');
}

.alpdeskfee-utilscontainer-clearcontainer {
  clear: both;
}