
#alpdesk-fee-backendcontainer {
  position: relative;
}

#alpdesk-fee-frame-legend {
  background-color: #eaeaec;
  padding: 10px;
  padding-left: 0px;
}

#alpdesk-fee-frame-container {
  resize: both;
  overflow: auto;
  max-width: 100%;
  border: 1px solid #d0d0d2;
  background-color: #ffffff;
}

#alpdesk-fee-frame {
  border: none;
}

#alpdesk-fee-alpdeskloading {
  background-color: #fff;
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.clear {
  clear: both;
}

.w33 {
  width: calc(33% - 30px);
  float: left;
  margin-left: 0px;
}

.w33 select {
  float: left;
  width: 200px;
}

.w33 button {
  float: left;
  width: 100px;
  margin-left: 10px;
  margin-top: 3px;
}

#main .content {
  background-color: #eaeaec;
  border: none;
}