
*[data-alpdeskfee-type] {
  position: relative;
}

.alpdeskfee-active {
  background-color: rgba(244, 124, 0, 0.1);
}

div.alpdeskfee-utilscontainer {
  background-color: rgba(255, 255, 255, 1);
  /*border: 1px solid rgb(244, 124, 0);*/
  width: 200px;
  height: auto;
  top: 0;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  position: absolute;
  display: none;
  font-family:-apple-system,system-ui,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight:400;
  font-size:.875rem;
  line-height:1;
  color:#444;
}

.alpdeskfee-active div.alpdeskfee-utilscontainer {
  display: block;
}

div.alpdeskfee-utilscontainer .alpdeskfee-utilscontainer-desccontainer {
  float: left;
}

div.alpdeskfee-utilscontainer .alpdeskfee-utilscontainer-editcontainer {
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  margin-left: 3px;
  margin-right: 3px;
  background-position: center center;
  cursor: pointer;
  float: left;
}

div.alpdeskfee-utilscontainer .alpdeskfee-utilscontainer-editcontainer {
  background-size: 20px 20px;
}

div.alpdeskfee-utilscontainer .alpdeskfee-utilscontainer-edit {
  background-image: url('../../../system/themes/flexible/icons/edit.svg');
}

div.alpdeskfee-utilscontainer .alpdeskfee-utilscontainer-pedit {
  background-image: url('../../../system/themes/flexible/icons/header.svg');
}

div.alpdeskfee-utilscontainer .alpdeskfee-utilscontainer-sedit {
  background-image: url('../../../system/themes/flexible/icons/modules.svg');
}

div.alpdeskfee-utilscontainer .alpdeskfee-utilscontainer-clearcontainer {
  clear: both;
}