<div [style.position]="'fixed'" [style.top]="'38px'" [style.backgroundColor]="'rgba(255, 255, 255, 1)'"
    [style.width]="'36px'" [style.right]="'0px'"
    [style.fontFamily]="'-apple-system,system-ui,\'Segoe UI\',Roboto,Oxygen-Sans,Ubuntu,Cantarell,\'Helvetica Neue\',sans-serif'"
    [style.fontWeight]="'400'" [style.fontSize]="'.875rem'" [style.lineHeight]="'1'" [style.color]="'#444'"
    [style.borderBottom]="'2px solid rgb(244, 124, 0)'" [style.zIndex]="'200002'" [style.borderRadius]="'4px'"
    [style.borderTop]="'2px solid #222'" [style.borderBottom]="'2px solid #222'"
    *ngIf="pageEdit === true && pageId !== 0">
    <app-item-edit [title]="objLabels.page_edit_top" [action]="ACTION_ELEMENT_EDIT" [targetType]="TARGETTYPE_PAGE"
        [do]="TARGETTYPE_PAGE" [id]="(pageId + '')" [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-edit>
    <app-item-page [title]="objLabels.page_structure" [action]="ACTION_ELEMENT_SHOW" [targetType]="TARGETTYPE_PAGE"
        [do]="TARGETTYPE_PAGE" [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-page>
    <app-item-article [title]="objLabels.article_edit_top" [action]="ACTION_ELEMENT_SHOW"
        [targetType]="TARGETTYPE_ARTICLE" [do]="TARGETTYPE_ARTICLE" [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-article>
    <div [style.clear]="'both'"></div>
</div>

<div #articleContainer appItemBar [frameContentDocument]="frameContentDocument" [selectedElement]="elementParent" [offsetTop]="offsetTopParent"
    [style.position]="'absolute'" [style.top]="offsetTopParent" [style.backgroundColor]="'rgba(255, 255, 255, 1)'"
    [style.width]="'auto'" [style.right]="'0px'" [style.paddingRight]="'30px'" [style.transform]="transformElement"
    [style.fontFamily]="'-apple-system,system-ui,\'Segoe UI\',Roboto,Oxygen-Sans,Ubuntu,Cantarell,\'Helvetica Neue\',sans-serif'"
    [style.fontWeight]="'400'" [style.fontSize]="'.875rem'" [style.lineHeight]="'1'" [style.color]="'#444'"
    [style.borderTop]="'2px solid rgb(244, 124, 0)'" [style.borderBottom]="'2px solid rgb(244, 124, 0)'"
    [style.zIndex]="'200001'" [style.borderRadius]="'4px'"
    *ngIf="jsonDataParent !== null && jsonDataParent !== undefined && jsonDataParent.type === TARGETTYPE_ARTICLE && jsonDataParent.canEdit === true">
    <app-item-move></app-item-move>
    <app-item-desc
        *ngIf="jsonDataParent.desc !== null && jsonDataParent.desc !== undefined && jsonDataParent.desc !== ''"
        [label]="jsonDataParent.desc">
    </app-item-desc>
    <app-item-edit [title]="objLabels.article_all" [action]="ACTION_ELEMENT_EDIT" [targetType]="TARGETTYPE_ARTICLE"
        [do]="jsonDataParent.do" [id]="jsonDataParent.id" [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-edit>
    <app-item-parent [title]="objLabels.edit_article" [action]="ACTION_PARENT_EDIT" [targetType]="TARGETTYPE_ARTICLE"
        [do]="jsonDataParent.do" [id]="jsonDataParent.id" [id]="jsonDataParent.pid" [pageEdit]="pageEdit"
        [pageId]="pageId">
    </app-item-parent>
    <app-item-publish *ngIf="jsonDataParent.canPublish === true" [title]="objLabels.article_visible"
        [action]="ACTION_ELEMENT_VISIBILITY" [targetType]="TARGETTYPE_ARTICLE" [do]="jsonDataParent.do"
        [id]="jsonDataParent.id" [pid]="jsonDataParent.pid" [state]="jsonDataParent.invisible" [pageEdit]="pageEdit"
        [pageId]="pageId" [base]="base" [rt]="rt">
    </app-item-publish>
    <app-item-delete *ngIf="jsonDataParent.canDelete === true" [title]="objLabels.delete_article"
        [action]="ACTION_ELEMENT_DELETE" [targetType]="TARGETTYPE_ARTICLE" [do]="jsonDataParent.do"
        [id]="jsonDataParent.id" [pageEdit]="pageEdit" [pageId]="pageId" [base]="base" [rt]="rt">
    </app-item-delete>
    <app-item-new [title]="objLabels.new_element_top" [action]="ACTION_ELEMENT_NEW" [targetType]="TARGETTYPE_ARTICLE"
        [do]="jsonDataParent.do" [id]="jsonDataParent.id" [pid]="jsonDataParent.pid" [pageEdit]="pageEdit"
        [pageId]="pageId" [base]="base" [rt]="rt">
    </app-item-new>
    <div [style.clear]="'both'"></div>
</div>

<div #elementContainer appItemBar [frameContentDocument]="frameContentDocument" [selectedElement]="elementElement" [offsetTop]="offsetTopElement"
    [style.position]="'absolute'" [style.top]="offsetTopElement" [style.left]="offsetLeftElement" [style.transform]="transformElement" [style.backgroundColor]="'rgba(255, 255, 255, 1)'"
    [style.width]="'auto'"
    [style.fontFamily]="'-apple-system,system-ui,\'Segoe UI\',Roboto,Oxygen-Sans,Ubuntu,Cantarell,\'Helvetica Neue\',sans-serif'"
    [style.fontWeight]="'400'" [style.fontSize]="'.875rem'" [style.lineHeight]="'1'" [style.color]="'#444'"
    [style.borderTop]="'2px solid rgb(244, 124, 0)'" [style.borderBottom]="'2px solid rgb(244, 124, 0)'"
    [style.zIndex]="'200000'" [style.borderRadius]="'4px'"
    *ngIf="jsonDataElement !== null && jsonDataElement !== undefined && jsonDataElement.type === TARGETTYPE_CE">
    <app-item-move></app-item-move>
    <app-item-desc
        *ngIf="jsonDataElement.desc !== null && jsonDataElement.desc !== undefined && jsonDataElement.desc !== ''"
        [label]="jsonDataElement.desc">
    </app-item-desc>
    <app-item-overview *ngIf="jsonDataElement.canEdit === true" [title]="objLabels.element_all"
        [action]="ACTION_PARENT_EDIT" [targetType]="TARGETTYPE_CE" [do]="jsonDataElement.do" [id]="jsonDataElement.id"
        [pid]="jsonDataElement.pid" [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-overview>
    <app-item-edit *ngIf="jsonDataElement.canEdit === true" [title]="objLabels.edit_element"
        [action]="ACTION_ELEMENT_EDIT" [targetType]="TARGETTYPE_CE" [do]="jsonDataElement.do" [id]="jsonDataElement.id"
        [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-edit>
    <app-item-copy *ngIf="jsonDataElement.canEdit === true" [title]="objLabels.copy_element"
        [action]="ACTION_ELEMENT_COPY" [targetType]="TARGETTYPE_CE" [do]="jsonDataElement.do" [id]="jsonDataElement.id"
        [pid]="jsonDataElement.pid" [pageEdit]="pageEdit" [pageId]="pageId" [base]="base" [rt]="rt">
    </app-item-copy>
    <app-item-publish *ngIf="jsonDataElement.canEdit === true && jsonDataElement.canPublish === true"
        [title]="objLabels.element_visible" [action]="ACTION_ELEMENT_VISIBILITY" [targetType]="TARGETTYPE_CE"
        [do]="jsonDataElement.do" [id]="jsonDataElement.id" [pid]="jsonDataElement.pid"
        [state]="jsonDataElement.invisible" [pageEdit]="pageEdit" [pageId]="pageId" [base]="base" [rt]="rt">
    </app-item-publish>
    <app-item-delete *ngIf="jsonDataElement.canEdit === true" [title]="objLabels.delete_element"
        [action]="ACTION_ELEMENT_DELETE" [targetType]="TARGETTYPE_CE" [do]="jsonDataElement.do"
        [id]="jsonDataElement.id" [pageEdit]="pageEdit" [pageId]="pageId" [base]="base" [rt]="rt">
    </app-item-delete>
    <app-item-new *ngIf="jsonDataElement.canEdit === true" [title]="objLabels.new_element" [action]="ACTION_ELEMENT_NEW"
        [targetType]="TARGETTYPE_CE" [do]="jsonDataElement.do" [id]="jsonDataElement.id" [pid]="jsonDataElement.pid"
        [pageEdit]="pageEdit" [pageId]="pageId" [base]="base" [rt]="rt">
    </app-item-new>
    <app-item-custom-module
        *ngIf="jsonDataElement.act !== null && jsonDataElement.act !== undefined && jsonDataElement.act !== ''"
        [title]="objLabels.element_mod" [targetType]="TARGETTYPE_MOD" [do]="jsonDataElement.act"
        [icon]="jsonDataElement.icon" [iconclass]="jsonDataElement.iconclass" [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-custom-module>
    <div [style.clear]="'both'"></div>
</div>

<div #modContainer appItemBar [frameContentDocument]="frameContentDocument" [selectedElement]="elementElement" [offsetTop]="offsetTopElement"
    [style.position]="'absolute'" [style.top]="offsetTopElement" [style.left]="offsetLeftElement" [style.transform]="transformElement" [style.backgroundColor]="'rgba(255, 255, 255, 1)'"
    [style.width]="'auto'"
    [style.fontFamily]="'-apple-system,system-ui,\'Segoe UI\',Roboto,Oxygen-Sans,Ubuntu,Cantarell,\'Helvetica Neue\',sans-serif'"
    [style.fontWeight]="'400'" [style.fontSize]="'.875rem'" [style.lineHeight]="'1'" [style.color]="'#444'"
    [style.borderTop]="'2px solid rgb(244, 124, 0)'" [style.borderBottom]="'2px solid rgb(244, 124, 0)'"
    [style.zIndex]="'200000'" [style.borderRadius]="'4px'"
    *ngIf="jsonDataElement !== null && jsonDataElement !== undefined && jsonDataElement.type === TARGETTYPE_MOD">
    <app-item-move></app-item-move>
    <app-item-desc
        *ngIf="jsonDataElement.desc !== null && jsonDataElement.desc !== undefined && jsonDataElement.desc !== ''"
        [label]="jsonDataElement.desc">
    </app-item-desc>
    <app-item-custom-module [title]="objLabels.element_mod" [targetType]="TARGETTYPE_MOD" [do]="jsonDataElement.do"
        [icon]="jsonDataElement.icon" [iconclass]="jsonDataElement.iconclass" [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-custom-module>
    <app-item-custom-module
        *ngIf="jsonDataElement.act !== null && jsonDataElement.act !== undefined && jsonDataElement.act !== ''"
        [title]="objLabels.element_mod" [targetType]="TARGETTYPE_MOD" [do]="jsonDataElement.act"
        [icon]="jsonDataElement.icon" [iconclass]="jsonDataElement.iconclass" [pageEdit]="pageEdit" [pageId]="pageId">
    </app-item-custom-module>
    <ng-template
        *ngIf="jsonDataElement.subviewitems !== null && jsonDataElement.subviewitems !== undefined && jsonDataElement.subviewitems.length > 0">
        <app-item-custom-module *ngFor="let item of jsonDataElement.subviewitems" [title]="objLabels.element_mod"
            [targetType]="TARGETTYPE_MOD" [do]="item.path" [icon]="item.icon" [iconclass]="item.iconclass"
            [pageEdit]="pageEdit" [pageId]="pageId">
        </app-item-custom-module>
    </ng-template>
    <div [style.clear]="'both'"></div>
</div>